[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "1.3.5"
numpy = "*"
pytest = "*"
pymongo = "*"
dnspython = "*"
flask = "*"
jinja2 = "*"
flask-sqlalchemy = "*"
tweepy = "*"
spacy = "*"
python-dotenv = "*"
scikit-learn = "*"
gunicorn = "*"

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.9"
